<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>Evaluate a News Article with Natural Language Processing</title>
    <!-- <link rel="stylesheet" href="/styles/resets.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/footer.css" /> -->
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="urlInput"
            type="text"
            name="input"
            value=""
            placeholder="Enter url to the page to be handled"
          />
          <input
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
          <!-- <input
            type="button"
            id="submitBtn"
            name=""
            value="Submit 2"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          /> -->
        </form>
      </section>

      <section id="table">
        <h2>Form Results:</h2>
        <hr />
        <table>
          <tr>
            <th>Agreement</th>
            <th>Subjectivity</th>
            <th>Confidence</th>
            <th>Irony</th>
            <th>Score_tag</th>
          </tr>
          <tr>
            <td id="agreement"></td>
            <td id="subjectivity"></td>
            <td id="confidence"></td>
            <td id="irony"></td>
            <td id="score"></td>
          </tr>
        </table>
      </section>
      <section class="info">
        <table>
          <tr id="score_tag">
            <td><code>score_tag</code></td>
            <td>
              Polarity of the element it refers to: global
              polarity,<code>polarity_term</code>,
              <code>sentimented_concept</code>, <code>sentimented_entity</code>,
              <code>segment</code> or <code>sentence</code>. Possible values:
              <ul>
                <li><code>P+</code>: strong positive</li>
                <li><code>P</code>: positive</li>
                <li><code>NEU</code>: neutral</li>
                <li><code>N</code>: negative</li>
                <li><code>N+</code>: strong negative</li>
                <li><code>NONE</code>: without polarity</li>
              </ul>
            </td>
          </tr>
        </table>
      </section>
    </main>

    <footer>
      <p>
        Udacity project ( Evaluate a News Article with NLP )
        <span> Made by Alaa abd elaziz</span>
      </p>
    </footer>

    <script>
      // no longer needed put the registration in index.js to only install on production
      // returned code to html project requirement

      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
