body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5rem;
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
  font-size: large;
  font-weight: 700;
  padding: 0 40px;
  .result {
    margin-top: 20px;
  }
}
